@import "bootstrap/scss/bootstrap";


@font-face {
  font-family: 'Dubai Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Regular'), url('../fonts/Dubai-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Light';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Light'), url('../fonts/Dubai-Light.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Medium'), url('../fonts/Dubai-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Bold'), url('../fonts/Dubai-Bold.woff') format('woff');
}

$dubaiLight: 'Dubai Light', sans-serif;
$dubaiRegular: 'Dubai Regular', sans-serif;
$dubaiMedium: 'Dubai Medium', sans-serif;
$dubaiBold: 'Dubai Bold', sans-serif;
$corTexto: #383838;
$transicaoPadrao: all .3s ease-in-out;

@import "../../components/homepage/homepage";

body {
  font-family: $dubaiRegular;
}


.widget_product_search form > div {
  display: flex;
}

.site-search .widget_product_search input[type=text], .site-search .widget_product_search input[type=search] {
  height: 40px;
  border-radius: 5px;
}

.widget_product_search button[type=submit] {
  background: #383838;
  color: #fff;
  border-radius: 5px;
  margin-left: -5px;
  padding: 10px 35px;
}

.widget_product_search form::before {
  display: none;
}

.site-search {
  top: 10px;
  position: relative;

  .widget_product_search {
    form {
      input[type=text] {
        padding-left: 1.617924em;
      }
    }
  }
}

.site-header-cart {
  .cart-contents {
    background-repeat: no-repeat;
    background-position: 2px 22px;
    position: relative;

    .count {
      background: #fff;
      opacity: 1 !important;
      width: 20px;
      line-height: 0;
      height: 20px;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      left: 30px;
      position: absolute;
      top: 15px;
    }
  }
}

.account-menu {
  display: flex;
  float: right;
  list-style: none;
  top: 20px;
  margin-right: 50px;
  position: relative;
  font-size: 18px;
  color: $corTexto;

  li {
    padding: 0 5px;

    a {
      color: $corTexto;
    }
  }
}

.widget.woocommerce.widget_shopping_cart {
  width: 300px;
}

.site-header-cart .widget_shopping_cart .buttons, .site-header .widget_shopping_cart p.total, .site-header-cart .widget_shopping_cart {
  background-color: #383838 !important;
}

.storefront-primary-navigation {
  line-height: 0;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}

ul#menu-menu-principal {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.storefront-primary-navigation .col-full {
  width: 100%;
}

::-webkit-input-placeholder { /* Edge */
  color: #383838;
  font-size: 17px;
  line-height: 3;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #383838;
  font-size: 17px;
  line-height: 3;
}

::placeholder {
  color: #383838;
  font-size: 17px;
  line-height: 3;
}

.myaccount-menu {
  display: flex;
  float: right;
  list-style: none;
  margin-right: 50px;
  position: relative;
  font-size: 18px;
  color: #383838;
}

.site-header .site-branding img {
  position: absolute;
  top: 20px;
  width: 360px;
  max-width: 300px;
}

.topo-contatos {
  padding-left: 60px;
  padding-right: 20px;

  .contatos {

    i {
      background: #292929;
      border-radius: 100%;
      padding: 7px;
      line-height: 14px;
      color: #ffc674;
    }

    a {
      color: #292929;

      &:hover {
        text-decoration: none;
        font-weight: 600;
      }
    }
  }
}

.myaccount-menu {
  a {
    color: #292929;

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }
}

.promocoes {
  background: #ffa200;
  margin: 1px 0;
}

.storefront-primary-navigation {
  .menu-item {
    a {
      font-size: 17px;
      padding-left: 50px !important;
      padding-right: 50px !important;
      transition: $transicaoPadrao;

      &:hover {
        background: #ffa200;
        text-decoration: none;
      }
    }
  }
}

nav#site-navigation {
  width: 100%;
}

.widget_product_search button[type=submit] {
  transition: $transicaoPadrao;

  &:hover {
    background: #ffa200;
  }
}

//.slides {
//  width: 100vw;
//  left: 0;
//  position: absolute;
//}
.slides .owl-nav {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

.slides .owl-nav .owl-next {
  right: 70px;
  position: absolute;
}

.slides .owl-nav .owl-prev {
  position: absolute;
  left: 60px;
}

.owl-buttons {
  display: none !important;
}

.owl-carousel:hover .owl-buttons {
  display: block;
}


.slides .owl-nav {
  opacity: 0;
  transition: all .3s ease;
}


.owl-carousel:hover .owl-nav {
  opacity: .7;
}

.owl-nav button i {
  font-size: 40px;
  color: #fff;
}

button:focus {
  outline: none !important;
}

.titulo-secao {
  margin-bottom: 0;
}

.divisor {
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  position: absolute;
}

.top-destaques-bg {
  background: #fff;
  z-index: 1;
  padding-right: 5px;

  img {
    top: -1px;
    position: relative;
  }
}

footer {
  a {
    text-decoration: none !important;
    position: relative;
    left: 0;
    transition: all .3s ease;

    &:hover {
      left: 5px;
    }
  }

  h6 {
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
  }

  #menu-footer {
    .nav-link {
      padding: 0 !important;
      margin-bottom: 12px;
      text-decoration: none;
    }
  }

  .redes-sociais {
    a {
      background: #c9c9c9;
      margin-right: 15px;
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      border-radius: 100%;
      align-items: center;
      font-size: 18px;
      text-decoration: none;
      transition: all .3s ease;

      i {
        color: #f0f0f0;
      }

      &:hover {
        background-color: #ff8400;
        left: 0;
      }
    }
  }
}


.site-footer {
  padding: 1.618em 0 1.706325903em;

  .bottom-footer {
    border-top: 2px solid #dedede;
    padding-top: 20px;

    a {
      img {
        transition: all .3s ease
      }

      &:hover {
        img {
          filter: brightness(.5)
        }
      }
    }
  }
}
