section {
  &.slides {
    padding: 0;
    height: 900px;
  }

  #slide-bootstrap {
    .carousel-indicators {
      li {
        border: none;
        height: 8px;
        width: 8px;
        border-radius: 100px;
      }

      bottom: 3%;
    }

    .carousel-item {
      img {
        width: 100%;
        height: 900px;
        object-fit: cover;
        border-radius: 0 0 100px 0;
      }

      .carousel-caption {
        text-align: left;
        right: auto;
        left: 15%;
        top: 40%;


        span {
          width: 100%;
          display: block;
          font-size: 0.813em;
        }

        .btn.btnPrimario {
          font-size: 1em;
          padding-left: 0;
          margin-top: 10px;
          letter-spacing: .15em;

          &:hover {
            letter-spacing: .3em;
          }
        }

        .text-loop {
          p {
            color: $corBranca;
          }
        }
      }

      .container {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        left: 50%;
        text-align: center;
        z-index: 999;

        h2 {
          font-size: 2.4rem;
          margin-bottom: 35px;
          line-height: 1em;
        }

        h4 {
          p {
            line-height: 2rem;
            font-size: 2.4rem;

            strong {
              color: #322c2a;
              font-size: 2.7rem;
            }
          }
        }

        .btn-primario {
          font-size: 22px;
        }
      }
    }
  }
}
