.destaques-home {
  margin-top: 5px;

  .container {
    background: #ededed;
    padding: 10px 25px;

    p {
      margin: 0;
      text-transform: uppercase;
    }

    .titulo-destaques {
      font-size: 20px;
      font-family: $dubaiBold;
      line-height: 1.5rem;
    }

    .subtitulo-destaques {
      font-size: 14px;
    }

    img {
      top: 50%;
      position: relative;
      transform: translate(0, -50%);
    }

    .content-destaques {
      border-right: 2px solid #000;

      &:last-child {
        border-right: 0;
      }
    }
  }
}

.marcas-favoritas {
  .item {
    border-right: 1px solid #f3f3f3;
    padding: 0 5px;
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    z-index: -1;

    button {
      i {
        color: #383838 !important;
        font-size: 26px !important;
      }

      span {
        font-size: 50px;
      }
    }

    .owl-next {
      right: -25px;
      position: absolute;
    }

    .owl-prev {
      left: -20px;
      position: relative;
    }
  }
}

.depoimentos {
  .content-testmonial {
    background-color: #ebebeb;
    max-height: 527px;
    top: 43px;

    .carousel-depoimentos {
      .item {
        padding: 50px;
        padding-right: 320px;

        .aspas-depoimentos {
          max-width: 80px;
          margin-bottom: 45px;
        }

        .titulo-destaques {
          font-size: 28px;
          color: #ff7800;
          margin-bottom: 0;
          line-height: 1.7rem;
          margin-top: 60px;
        }
      }
    }
  }

  .testmonialmodal {
    color: #ffa200;
    font-size: 17px;
    font-weight: 300 !important;
    transition: all .3s ease;

    &:hover {
      text-decoration: none;
      color: #ff7800;
    }

    .title-testmonials-modal {
      font-size: 28px;
      color: #ff7800;
      margin-bottom: 0;
      line-height: 1.7rem;
      margin-top: 60px;
    }
  }
}

.porque-escolher {
  margin-top: 80px;

  .container {
    .row {
      .box-content {
        min-height: 520px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;

        .topo-box {
          width: 800px;
          height: 400px;
          display: block;
          position: absolute;
          top: -285px;
          left: -411px;
          border-radius: 100%;
          z-index: 0;
        }

        img {
          z-index: 1;
          position: relative;
        }

        h4 {
          margin-top: 40px;
          font-size: 25px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.blog-home {
  .container {
    .row {
      .wrapper-blog-data {
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #383838;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 11px;

        .pata-data {
          margin-bottom: 7px;
        }

        p {
          color: #fff;
          text-align: center;
          margin: 0;

          .mes {
            font-size: 22px;
            line-height: 0;
          }

          .dia {
            font-size: 18px;
            line-height: 0;
          }
        }
      }

      .size-blog_small {
        padding: 10px;
      }

      .card {
        border: 2px solid #e3e3e3;
        border-radius: 5px;

        .card-title {
          font-size: 25px;
        }

        p {
          margin-bottom: 0;
        }

        a.link-blog-home h5 {
          transition: all .3s ease;
        }

        a.link-blog-home:hover {
          text-decoration: none;
          color: #ffa200;
        }

        a.link-blog-home:hover h5 {
          color: #ffa200;
        }
      }
    }
  }
}

.newsletter-home {
  position: relative;
  margin-bottom: 100px;
  margin-top: 120px;

  .container {
    .row {
      .fundo-newsletter {
        position: absolute;
        left: 0;

      }

      .newsletter {
        width: 100%;
      }

      .dog-newsletter {
        position: absolute;
        right: 0px;
        bottom: 18px;
      }

      .titulo-newsletter {
        font-size: 35px;
        color: #ffeed6;
        font-family: $dubaiBold;
        margin-bottom: 0;
      }

      .subtitulo-newsletter {
        font-size: 31px;
        color: #ffeed6;
      }

      .btn-newsletter {
        background: #ff8400;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        height: 52px;
        padding: 0;
      }

      .get-news-letter-mail {
        input {
          border-radius: 5px;
        }

        .alert {
          position: absolute;
          bottom: 12px;
          padding: 4px 50px;

          p {
            margin: 0;
          }
        }
      }
    }
  }
}